/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
body {
  background-color: white;
  font: 14px helvetica, arial, clean, sans-serif;
  *font-size: normal;
  text-align: center;
}

h1 {font-size: 1.5em;}
h2 {font-size: 1.4em;}
h3 {font-size: 1.3em;}
h4 {font-size: 1.2em;}
h5 {font-size: 1.1em;}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
   h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
  color: #aaa;
}

h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: black;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a, a:visited {
  color: #00a;
}

a:hover, a:hover:visited {
  color: black;
}


table {
  font-size: inherit;
  font: 100%;
}

/********/
/* Site */
/********/

.site {
  font-size: 110%;
  text-align: justify;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  font-size: 125%;
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #063;
    text-decoration: none;
  }
  
  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }
  
  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span, .date {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

div.project {
   min-height: 180px;
   margin-bottom: 20px;
}

  div.project img {
     height: 180px;
     float: right;
     margin-left: 20px;
  }